ClientDrawingArxiveWpf/Connected Services/DrawingArxiveService/MEX1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9875/DrawingArxiveService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DrawingArxiveService" />
  <xs:element name="GetWrongDrawingList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWrongDrawingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DrawingArxiveService" minOccurs="0" name="GetWrongDrawingListResult" nillable="true" type="q1:ArrayOfDrawingItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRepeatArxivation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DrawingArxiveService" minOccurs="0" name="item" nillable="true" type="q2:DrawingItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRepeatArxivationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRepeatArxivationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>