ClientDrawingArxiveWpf/Connected Services/DrawingArxiveService/MEX32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DrawingArxiveService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DrawingArxiveService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDrawingItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DrawingItem" nillable="true" type="tns:DrawingItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDrawingItem" nillable="true" type="tns:ArrayOfDrawingItem" />
  <xs:complexType name="DrawingItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DrawingItem" nillable="true" type="tns:DrawingItem" />
</xs:schema>